body{
    margin: 0;
}
.col-footer{
    border: 1px solid black;
    
}
.myfooter{
    
    background-color: rgb(80, 74, 74);
    color: aliceblue;
} 
.row-footer{
    margin-top: 4%;
}
.bottom-footer{
    border: 1px solid black;
    background-color: rgb(80, 74, 74);

}
.myimg{
        
        width: 90%;
        height: 90%;
        border-radius: 50%;
         
}
.last{
    border: 1px solid black;
}
.row-footer-bottom{
    margin-top:2%;
    margin-left: 20px !important;

}
