body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
  }
  ::-webkit-scrollbar {
    display: none;
    }
  header{
    margin-top: 0px;
    position: fixed;
    z-index: 5;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .outerDiv{
		height: 100vh;
    width: 100vw; 
		margin: 0px auto;
    /* padding: 5px; */
    background-image: url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    }
      
		.leftDiv{
		height: 90vh;
		width: 60%;
		float: left;
    }
    .second-logo{
    padding: 115px 0px 0px 50px;
    
    }
    .sub-title{
    padding: 0px 0px 10px 150px;
    font-family: 'Staatliches', cursive;
    font-family: 'Acme', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    }
    .register-btn{
      background-color: ;
      margin-left:41vw;
      margin-top: 25vh;
      height: 50px;
      width: 200px;
    }

		.rightDiv{
				height: 90vh;
				width: 40%;
				float: right;
     }	
     .brain{
     padding:80px 0px 0px 0px; 
    }		
  
 
  .about{
    /* margin-top: 10vh; */
    height: 100vh;
    width: 100vw;
    background-image: url("main.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }

  .phoenix-logo{
    margin-top: 12vh;
    float: left;
    height: 45vh;
    width: 20vw;
  }
  .phoenix-about{
    margin-top: 12vh;
    float: right;
    height: 45vh;
    width: 80vw;
  }
  .brainstorm-logo{
float: right;
height: 50vh;
    width: 20vw;
  }
  .brainstorm-about{
    float: left;
    height: 50vh;
    width: 80vw;
  }
  .bg-hd{
    font-family: 'Acme', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Courgette', cursive;
font-size: 40px;
text-decoration: underline orange;
  }
  .main-ct{
    font-family: 'Acme', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
font-size: 30px;
color: whitesmoke;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .container img{
        margin: 5px;
        transition: all 1s;
    }
    .container img:hover{
        transform: scale(1.1)
    }
  
    * {
      box-sizing: border-box;
    }
    
    /* body {
      margin: 0;
      font-family: Arial;
    } */
    
    .header {
      text-align: center;
      padding: 32px;
    }
    .gallery{
      /* margin-top: 7vh; */
      background-color: #232B2B;
    }
    #gallery-hd{
      padding-top: 10vh;
      font-family: 'Shrikhand', cursive;
      color: #DC3D24;
      font-size: 100px;
    }
    #gallery-shd{
      font-family: 'Shrikhand', cursive;
      font-family: 'Basic', sans-serif;
      font-family: 'Advent Pro', sans-serif;
      color: #E3AE57;
      font-size: 20px;
    }
    
    .row {
      margin-top: 20vh;
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 10px 30px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      /* box-shadow: 5px 5px grey; */
      padding: 10px;
    }
    .column img:hover {
      transform: scale(1.3);
      transition: all 1000ms;
     }
     .registration{
       background-color: #191919;
       height: 100vh;
     }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }


  
  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */
  @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

/*
.fonts {
  font-family: 'Josefin Slab', serif;
}
*/


.wrapper {
  width: 600px;
  margin: 20px auto;
}

.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 
    solid
    1px
    #CCC;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  margin-left:41vw;
  margin-top: 20vh;
  height: 50px;
  width: 200px;
}

.btnOrange {
  background: #dcae1d;
}


.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}


.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}


/* FLOAT */
.btnFloat {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnFloat:before {
  content: 'Register';
  font-size: 20px;
  color: #000;
  display: block;
  position: absolute;
  top: 0;
  left: -5vw;
  width: 370px;
  height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
  border: #000 solid 2px;
}



.btnOrange.btnFloat:before {
  background: #dcae1d;
}

.btnPurple.btnFloat:before {
  background: #8D336A;
}


.btnFloat:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}


.btnFloat:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 360px){
  .leftDiv{
    width: 100%;
  }
  .brain{
    visibility: hidden;  }
  .second-logo{
    height: 300;
    width: 350;
  }
  .sub-title{
    font-size: 18px;
    padding: 0px 0px 10px 80px;
  }
  .about{
    height: 200vh;
  }
  a.button {
    display: block;
    position: relative;
    float: left;
    width: 160px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    margin-left:37vw;
    margin-top: 18vh;
    height: 50px;
    width: 200px;
  }
  .btnFloat:before {
    content: 'Register';
    font-size: 20px;
    color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: -5vw;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
    border: #000 solid 2px;
  }
  .phoenix-logo{
    margin-top: 6vh;
    float: left;
    height: 15vh;
    width: 10vw;
  }
}


